*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
ul, ol{
    list-style: none;
}
/* layout */
#app{
    height: 100vh;
    width: 100%;
    background-color: #141923;
}
#app .side-bar{
    height: calc(100vh - 75px);
    width: 250px;
    background-color: black;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
}
#app .side-bar .logo{
    padding: 20px;
}
#app main li{
    list-style: square;
}
#app .side-bar .list-item{
    padding-left: 50px;
}
#app .side-bar .side-bar-foot{
    margin-top: auto;
    padding: 15px;
}
#app .top-bar{
    background-color: #0E121B;
    height: 50px;
    width: 100%;
    justify-content: end;
    align-items: center;
}
#app .top-bar button{
    line-height: 25px;
    width: 80px;
    color: black;
    border-radius: 999px;
}
#app footer{
    display: flex;
    justify-self: flex-end;
    height: 75px;
    width: 100%;
    background-color: #282828;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
}
.main-content{
    width: calc(100vw - 250px);
    position: absolute;
    left: 250px;
    flex-wrap: wrap;
    padding: 50px;
}
.col-4{
    width: calc( 100 / 4);
}
.title{
    width: calc(100% - 250px);
    padding: 15px 0;
}
/* style */
.row{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}