*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
ul, ol{
    list-style: none;
}
/* layout */
#app{
    height: 100vh;
    width: 100%;
    background-color: #141923;
}
#app .side-bar{
    height: calc(100vh - 75px);
    width: 250px;
    background-color: black;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 0;
}
#app .side-bar .logo{
    padding: 20px;
}
#app .side-bar .list-item{
    padding-left: 50px;
    list-style: square;
}
#app .side-bar .side-bar-foot{
    margin-top: auto;
    padding: 15px;
}
#app .top-bar{
    background-color: #0E121B;
    height: 50px;
    width: 100%;
    justify-content: end;
    align-items: center;
}
#app .top-bar button{
    /* display: flex; */
    line-height: 35px;
    width: 80px;
    color: black;
    border-radius: 999px;
}
#app footer{
    height: 75px;
    width: 100%;
    background-color: #282828;
    align-items: center;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
}


/* style */
.row{
    flex-direction: row;
    gap: 15px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}