*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
ul, ol{
    list-style: none;
}
/* layout */
#app{
    height: 100vh;
    width: 100%;
    background-color: #141923;
}
#app .side-bar{
    height: calc(100vh - 50px);
    width: 250px;
    background-color: black;
    justify-content: flex-start;
    flex-direction: column;
}
#app .side-bar .logo{
    padding: 20px;
}
#app .side-bar .list-item{
    padding-left: 50px;
    list-style: square;
}
#app .side-bar .side-bar-foot{
    margin-top: auto;
    padding: 15px;
}
#app footer{
    height: 50px;
    width: 100%;
    background-color: #282828;
    align-items: center;
}
/* style */
.row{
    flex-direction: row;
    gap: 15px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}