*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
ul, ol{
    list-style: none;
}
/* layout */
#app{
    height: 100vh;
    background-color: #141923;
    display: flex;
    flex-direction: column;
}
.body{
    display: flex;
    flex-grow: 1;
}
.main{
    flex-grow: 1;
}
.top-bar{
    background-color: #0E121B;
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#app .content .second-section ul{
    list-style: circle;
    padding: 15px;
}
.col-4{
    width: calc(100% / 4);
    padding: 15px;
}
.titolo{

}
.top-bar button{
    line-height: 30px;
    border-radius: 999px;
    width: 80px;
    font-size: 11px;
    color: black;
}
#app .side-bar{
    width: 200px;
    flex-shrink: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
#app .side-bar ul{
    flex-grow: 1;
    list-style: circle;
    padding: 30px;
}
#app .footer{
    display: flex;
    justify-content: space-between;
    background-color: #282729;
    padding: 20px;

}
#app .footer ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
